---
layout: layout.njk
js: ["plugins/jquery-3.4.1.min.js", "plugins/highlight/highlight.pack.js", "js/blog.js",]  
css: ["plugins/highlight/styles/monokai-sublime.css"]  
---

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ title }}</h2>
            <div class="meta mb-3">
                <span class="date">Published {{ date_published }}</span>
                <span class="time">{{ mins }} min read</span>
                <span class="comment"><a href="https://franciscogiraldo.com{{ page.url }}#disqus_thread"></a></span>
                </div>
        </header>
        
        <div class="blog-post-body mb-6">
            <figure class="blog-banner">
                <img class="img-fluid w-100" src="/assets/images/blog/{{ image }}" alt="{{ image_desc }}">
                {% if image_desc %}
                    <figcaption class="mt-2 text-center image-caption">{{ image_desc }}</figcaption>
                {% endif %}
            </figure>

            {{ content | safe }}
            
        </div>
            
        {% if nextPost.url or prevPost.url %}

        <h3>Keep reading other of my blog posts!</h3>

        <nav class="blog-nav nav nav-justified my-5">

            {% if nextPost.url %}
            <a class="nav-link-prev nav-item nav-link rounded-left" href="{{ nextPost.url }}">
                Previous article: <i class="arrow-prev fas fa-long-arrow-alt-left"></i>
                {{ nextPost.data.title }}
            </a>
            {% endif %}

            {% if prevPost.url %}
            <a class="nav-link-next nav-item nav-link rounded-right" href="{{ prevPost.url }}">
                Next article: <i class="arrow-next fas fa-long-arrow-alt-right"></i>
                {{ prevPost.data.title }}
            </a>
            {% endif %}

        </nav>

        {% endif %}
        
        <div class="blog-comments-section">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    // Replace PAGE_URL with your page's canonical URL variable
                    this.page.url = "https://franciscogiraldo.com{{ page.url }}";  
                    
                    // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    this.page.identifier = {{ post_id }}; 
                };
                
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    
                    s.src = 'https://franciscogiraldo.disqus.com/embed.js';
                    
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the 
                <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.
                </a>
            </noscript>
        </div><!--//blog-comments-section-->
        
    </div><!--//container-->
</article>

<script id="dsq-count-scr" src="//franciscogiraldo.disqus.com/count.js" async></script>