---
title: Francisco's blog
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---
{% include "sections/nav.njk" %}

<div class="container mt-40 mb-32">

  <h2 class="mb-16 text-2xl">Tagged “{{ tag }}”</h2>

  {% set postslist = collections[ tag ] %}
  {% include "sections/postslist.njk" %}

  <div class="mt-8">
  {% include "components/back-button.njk" %}
  </div>

</div>

{% include "sections/footer.njk" %}
