body,
body.dark-mode .theme-bg-light,
.main-wrapper,
.main-wrapper > .cta-section,
.resume-name,
.resume-link,
.item-title,
.resume-section-heading,
body.dark-mode .text-muted {
    color: #000000 !important;
    background: #ffffff !important;
    text-decoration: none !important;
}

body.dark-mode hr {
    border-color: rgba(0,0,0,0.08) !important;
}

.header,
.cta-section,
.resume-section-heading:before {
    display: none;
}

.resume-wrapper {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.resume-main,
.resume-title {
    flex: none !important;
    max-width: 75% !important;
    padding-right: 4rem !important;
}

.resume-aside,
.resume-contact {
    max-width: 25% !important;
}

.resume-section-heading {
    padding-left: 0 !important;
}
.resume-profile-image {
    display: none;
}
