{% macro socialMediaIcon(title, url, icon) %}

    <a class="block mr-4" href="{{ url }}" target="_blank">
        <img class="h-6 w-6" src="/assets/icons/{{ icon }}.svg" alt="Follow me in {{ title }}">
    </a>

{% endmacro %}
