---
title: Blog
layout: layout.njk
pagination:
  data: collections.post
  size: 4
---

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Notes About Software Development</h2>
        <div class="intro">Archive of notes about concepts and tools from Software Development.</div>
    </div><!--//container-->
</section>

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">

        <div class="row">

            {% for post in collections.posts | reverse %}
                <div class="col-md-4 mb-3">
                    <div class="card blog-post-card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="theme-link" href="{{ post.url }}">{{ post.data.title }}</a></h5>
                            <p class="card-text">{{ post.data.excerpt }}</p>
                            <p class="mb-0"><a class="more-link" href="{{ post.url }}">Read more &rarr;</a></p>
                        </div>
                        <div class="card-footer">
                            <div class="card-text mb-2"> Tags:
                            {% for tag in post.data.post_tags %}
                                <small class="text-muted mr-1">{{ tag }}</small>
                            {% endfor %}  
                             </div>
                            <small class="text-muted">Published {{ post.date.toUTCString() }}</small>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
            {% endfor %}  

        </div><!--//row-->
        
        
        <nav class="blog-nav nav nav-justified my-5">
        
            {% if pagination.pageNumber - 1 >= 0 %}
            <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="/blog/{{ pagination.pageNumber - 1 }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            {% endif %}

            {% if pagination.pageNumber + 1 > 1 %}
            <a class="nav-link-next nav-item nav-link rounded" href="/blog/{{ pagination.pageNumber + 1 }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            {% endif %}

        </nav>
        
    </div>
</section>