---
title: Home
layout: layout.njk
js: ["plugins/tiny-slider/tiny-slider.js", "js/testimonials.js"]
css: ["plugins/tiny-slider/tiny-slider.css"]
---

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Francisco Giraldo</h2>
                <div class="tagline mb-3">Senior Full Stack Web Developer</div>
                <div class="bio mb-4">I'm a computer systems engineer specialised in frontend and backend development for websites and web apps. I write about software development on <a class="link-on-bg" href="/blog">my blog</a>. Want to know how I may help your project? Check out my project <a class="link-on-bg" href="/projects">portfolio</a> and <a class="link-on-bg" href="/resume">online resume</a>.
                </div><!--//bio-->
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="/portfolio"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
                    <a class="btn btn-secondary mb-3" href="/resume"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div><!--//media-body-->
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="/assets/images/Francisco Giraldo.jpg" alt="Francisco Giraldo">
        </div>
    </div>
</section><!--//about-me-section-->

<section class="overview-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">I have more than 8 years of experience building software for clients from my home country, Colombia and the USA. Below is a quick overview of my main technical skill sets and technologies I use.
            Want to find out more about my experience? Check out my <a href="/resume">online resume</a> and <a href="/portfolio">project portfolio</a>.</div>
        
        <div class="row">

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-js-square"></i></div>
                    <h3 class="item-title">Vanilla ES6 JavaScript</h3>
                    <div class="item-desc">Whenvever I need to easily interact with the DOM I use vanilla Javascript. </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-react mr-2"></i></div>
                    <h3 class="item-title">React &amp; Svelte</h3>
                    <div class="item-desc">I have experience creating reusable UI components with React and Svelte. I use Redux to save the state.</div>
                </div><!--//item-inner-->
            </div><!--//item-->
            
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-node-js"></i></div>
                    <h3 class="item-title">Node.js &amp; ExpressJS</h3>
                    <div class="item-desc">I've written small servers using ExpressJS for serving an API for a React frontend.</div>
                </div><!--//item-inner-->
            </div><!--//item-->
            
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-python"></i></div>
                    <h3 class="item-title">Python, Django &amp; Wagtail</h3>
                    <div class="item-desc">Django is my favorite framework for building web apps. When building content driven sites I use Wagtail as CMS.</div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-php mr-2"></i><i class="fab fa-wordpress"></i></div>
                    <h3 class="item-title">PHP & WordPress</h3>
                    <div class="item-desc">I have built more than 20 websites using WordPress. ACF and Gutenberg are the plugins I always use.</div>
                </div><!--//item-inner-->

            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-npm mr-2"></i></div>
                    <h3 class="item-title">npm, Webpack and Snowpack</h3>
                    <div class="item-desc">This are the tools I use when building a complex frontend.</div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i></div>
                    <h3 class="item-title">Responsive HTML &amp; CSS</h3>
                    <div class="item-desc">The must know for any web developer. Writing it with accesibility and performance in mind are something I've learned over the years.</div>
                </div><!--//item-inner-->

            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-sass mr-2"></i><img src="/assets/images/tech/tailwindcss.svg" alt="TailwindCSS"></div>
                    <h3 class="item-title">TailwindCSS &amp; Sass</h3>
                    <div class="item-desc">There was once Sass, now there is TailwindCSS!</div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><img style="background-color:#000" src="/assets/images/tech/eleventy.svg" alt="Eleventy"></div>
                    <h3 class="item-title">Eleventy</h3>
                    <div class="item-desc">Developing a performant website has never been easier using a static site generator live Eleventy.</div>
                </div><!--//item-inner-->
            </div><!--//item-->


        </div><!--//row-->

        <!--// services button   
        <div class="text-center py-3">
            <a href="/services" class="btn btn-primary">
            <i class="fas fa-arrow-alt-circle-right mr-2"></i>Services &amp; Pricing
            </a>
        </div>
        -->
        
    </div><!--//container-->
</section>

<div class="container"><hr></div>

<section class="testimonials-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Testimonials</h2>
        
        <div class="testiomonial-carousel-container">
            <div class="testimonial-carousel tiny-slider">

                <div class="item">
                    <div class="item-inner">
                        <div class="quote-holder">
                            <blockquote class="quote-content">
                                Francisco is a wonderful person, talented developer, and dedicated professional. He helped inQbation in many ways including developing a Facebook application from scratch, figuring out SDKs and APIs, and multi-tasking between priorities. He is creative and resourceful. I highly recommend him as a professional, colleague, and friend.
                            </blockquote>
                            <i class="fas fa-quote-left"></i>
                        </div><!--//quote-holder-->
                        <div class="source-holder">
                            <div class="source-profile">
                                <img src="/assets/images/clients/blake-newman.jpg" alt="Blake Newman"/>
                            </div>
                            <div class="meta">
                                <div class="name">Blake Newman</div>
                                <div class="info">CEO, InQbation</div>
                            </div>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                
            </div><!--//testimonial-carousel-->	
        </div><!--//testimonial-carousel-container-->	
    </div><!--//container-->
</section><!--//testimonials-section-->

<div class="container"><hr></div>

<section class="featured-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
        <div class="row">
            
            {% for project in collections.project | sort(true, false, 'date')  %}
                {% if loop.index0 < 4 %}
                <div class="col-md-6 mb-5">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="/assets/images/project/{{ project.data.image_small }}" class="card-img" alt="Project screenshot">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ project.url }}" class="theme-link">{{ project.data.title }}</a></h5>
                                    <p class="card-text">{{ project.data.description }}</p>
                                    <p class="card-text"><small class="text-muted">Technology: {{ project.data.type }}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="link-mask">
                            <a class="link-mask-link" href="{{ project.url }}"></a>
                            <div class="link-mask-text">
                                <a class="btn btn-secondary" href="{{ project.url }}">
                                    <i class="fas fa-eye mr-2"></i>View Case Study
                                </a>
                            </div>
                        </div><!--//link-mask-->
                    </div><!--//card-->
                </div><!--//col-->
                {% endif %}   
            {% endfor %}    

        </div><!--//row-->

        <div class="text-center py-3"><a href="/portfolio" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
        
    </div><!--//container-->
</section><!--//featured-section-->

<div class="container"><hr></div>

<section class="latest-blog-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>

        <div class="row">

            {% for post in collections.posts %}
                {% if loop.index0 < 3 %}
                <div class="col-md-4 mb-5">
                    <div class="card blog-post-card">
                        <img class="card-img-top" src="assets/images/blog/{{ post.data.image }}" alt="{{ post.data.image.desc }}">
                        <div class="card-body">
                            <h5 class="card-title"><a class="theme-link" href="{{ post.url }}">{{ post.data.title }}</a></h5>
                            <p class="card-text">{{ post.data.excerpt }}</p>
                            <p class="mb-0"><a class="more-link" href="{{ post.url }}">Read more &rarr;</a></p>
                            
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Published {{ post.date.toUTCString() }}</small>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
                {% endif %}   
            {% endfor %}    

        </div><!--//row-->

        <div class="text-center py-3"><a href="/blog" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Blog</a></div>

    </div><!--//container-->
    
</section><!--//latest-blog-section-->