---
title: Resume
layout: layout.njk
---

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading mb-3">Online Resume</h2>
        <p>Latest update: April 2022</p>
        <button class="btn btn-primary" onclick="javascript:window.print();">
            <i class="fas fa-file-pdf mr-2"></i>Download PDF Version
        </button>
    </div><!--//container-->
</section>

<div class="container px-3 px-lg-5">
    <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

        <div class="resume-header">
            <div class="row align-items-center">
                <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                    <h2 class="resume-name mb-0 text-uppercase">Francisco Giraldo</h2>
                    <div class="resume-tagline mb-3 mb-md-0 font-weight-bold">Backend Developer</div>
                </div><!--//resume-title-->
                <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="fas fa-phone fa-fw fa-lg mr-2 "></i>
                            <a class="resume-link" href="tel:0629294063">0629294063</a>
                        </li>                        
                        <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i>
                            <a class="resume-link" href="mailto:fcog111@gmail.com">fcog111@gmail.com</a>
                        </li>
                        <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>
                            <a 
                                class="resume-link"
                                target="_blank"
                                href="https://www.google.com/maps/place/%C3%81msterdam,+Pa%C3%ADses+Bajos/@52.3546448,4.8337498,12z/data=!3m1!4b1!4m5!3m4!1s0x47c63fb5949a7755:0x6600fd4cb7c0af8d!8m2!3d52.3675734!4d4.9041389">
                                Amstelveen, Netherlands
                            </a>
                        </li>
                    </ul>
                </div><!--//resume-contact-->
            </div><!--//row-->
            
        </div><!--//resume-header-->

        <hr>

        <div class="resume-intro py-3">

            <div class="media flex-column flex-md-row align-items-center mb-3">
                <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="/assets/images/Francisco Giraldo.jpg" alt="Profile image">
                <div class="media-body text-left">
                    <p class="mb-2">
                        Passionate Backend Developer with over 8+ years of professional experience as a Web Developer. 
                        Francisco has worked in a variaty of projects from creating solo from scratch websites and small web applications to work in teams creating, maintaning and improving large high traffic web apps.
                        He's last work experience was very exiting for him as he got to know how apps with a global reach could scalate by moving
                        legacy or new features into microservices and using queue messaging for heavy processing.
                    </p>

                    <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block">
                        <li class="list-inline-item mb-lg-0 mr-3">
                            <a class="resume-link" href="https://github.com/fcog" target="_blank">
                                <i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i>
                                <span class="d-none d-md-inline-block ">github.com/fcog</span>
                            </a>
                        </li>
                        <li class="list-inline-item mb-lg-0 mr-3">
                            <a class="resume-link" href="https://linkedin.com/in/franciscogiraldo" target="_blank">
                                <i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i>
                                <span class="d-none d-md-inline-block">linkedin.com/in/franciscogiraldo</span>
                            </a>
                        </li>
                        <li class="list-inline-item mb-lg-0 mr-3">
                            <a class="resume-link" href="https://franciscogiraldo.com" target="_blank">
                                <i class="fas fa-globe fa-2x mr-2" data-fa-transform="down-4"></i>
                                <span class="d-none d-md-inline-block">franciscogiraldo.com</span>
                            </a>    
                        </li>
                    </ul>

                </div><!--//media-body-->

            </div>

        </div><!--//resume-intro-->

        <hr>

        <div class="resume-body">
            <div class="row">
            
                <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                    <section class="work-section pb-3">
                        <h3 class="text-uppercase resume-section-heading mb-4">Currently Interested In</h3>
                        <div class="item-content">
                            <p>Domain Driven Design, Service Oriented Arquitecture, Event Driven Programming, REST APIs, SOLID, DRY, KISS, Design Patterns, Test Driven Development, OOP, Clean Code.</p>
                        </div>
                    </section>

                    <section class="work-section">
                        <h3 class="text-uppercase resume-section-heading mb-4">Work Experience (Last 5 years)</h3>

                        {% for work in resume.work_experience %}
                            {% if loop.index0 < 3 %}
                            <div class="item mb-4">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 mb-2 mb-md-0">{{ work.role }}</h4>
                                    <div class="item-meta col-12 col-md-6 text-muted text-left text-md-right">
                                        <a target="_blank" href="{{ work.company_website }}">
                                            {{ work.company }}
                                        </a> | {{ work.date_start }} - {{ work.date_end }}
                                    </div>
                                    
                                </div>
                                <div class="item-content">
                                    <p>{{ work.description }}</p>
                                    <ul class="resume-list">
                                        {% for task in work.tasks %}
                                            <li>{{ task }}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="d-inline-flex">
                                        <p>Techonologies: </p>
                                        <ul class="list-inline">
                                            {% for tech in work.technologies %}
                                                <li class="badge">{{ tech }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div><!--//item-->
                            {% endif %}

                        {% endfor %}
                        
                    </section><!--//work-section-->

                    
                    <section class="project-section">

                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="text-uppercase resume-section-heading mb-4">Project Highlights</h3>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="https://franciscogiraldo.com/portfolio">View all</a>
                            </div>
                        </div>

                        <div class="item mb-3">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                    <a href="https://creativefabrica.com" target="_blank">
                                    Creative Fabrica
                                    </a>
                                </h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                    WordPress + Laravel
                                </div>
                            </div>
                            <div class="item-content">
                                <p>Contributed developing features and fixing issues for this large audience e-commerce website. 
                                    The company is scaling now by moving to a services oriented arquitecture.</p>
                            </div>
                        </div><!--//item-->

                        <div class="item mb-3">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                    Milo Pet Insurance
                                </h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                    NodeJS + React
                                </div>
                            </div>
                            <div class="item-content">
                                <p>
                                    Built a NodeJS/React app where people could buy insurance plans for their pets by using an interactive multistep form connected to a Caspio backend and Stripe subscriptions.
                                </p>
                            </div>
                        </div><!--//item-->

                        <div class="item mb-3">
                            <div class="item-heading row align-items-center mb-2">
                                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                    <a href="https://modular-homeowners-iy3cf.ondigitalocean.app/" target="_blank">
                                    Modular Home Owners
                                    </a>
                                </h4>
                                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                    Django
                                </div>
                            </div>
                            <div class="item-content">
                                <p>
                                    Built a complete website catalog of modular homes with a search + filters page, forum and admin dashboard.
                                    Github: github.com/Fcog/modular-home-owners 
                                </p>
                            </div>
                        </div><!--//item-->

                    </section><!--//project-section-->	
                </div><!--//resume-main-->

                <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

                    <section class="skills-section pb-3 pt-2">

                        <h3 class="text-uppercase resume-section-heading mb-3">Hard Skills</h3>
                        
                        {% for skill in resume.hard_skills %}

                            <div class="item">

                                {% if skill.title %}
                                    <h4 class="item-title">{{ skill.title }}</h4>
                                {% endif %}    

                                <ul class="list-unstyled resume-skills-list">
                                    {% for item in skill.items %}
                                        <li class="mb-1">{{ item }}</li>
                                    {% endfor %}
                                </ul>

                            </div><!--//item-->

                        {% endfor %}

                    </section><!--//skills-section-->    

                    <section class="skills-section py-2">    

                        <h3 class="text-uppercase resume-section-heading mb-3">Soft Skills</h3>

                        <div class="item">

                            <ul class="list-unstyled resume-skills-list">
                                {% for skill in resume.soft_skills %}
                                    <li class="mb-1">{{ skill }}</li>
                                {% endfor %}
                            </ul>
                            
                        </div><!--//item-->    

                    </section><!--//skills-section-->                  


                    <section class="education-section py-2">
                        <h3 class="text-uppercase resume-section-heading mb-3">Education</h3>
                        <ul class="list-unstyled resume-education-list">

                            {% for education in resume.education %}
                                <li class="mb-2">
                                    <div class="resume-degree font-weight-bold">
                                        <a href="https://franciscogiraldo.com/assets/docs/Diploma BS Computer Systems Engineer - Translated.pdf" target="_blank">
                                        {{ education.degree }}
                                        </a>
                                        </div>
                                    <div class="resume-degree-org text-muted">{{ education.location }}</div>
                                    <div class="resume-degree-time text-muted">{{ education.years }}</div>
                                </li>
                            {% endfor %}

                        </ul>
                    </section><!--//education-section-->

                    <section class="skills-section py-2">
                        <h3 class="text-uppercase resume-section-heading mb-3">Languages</h3>
                        <ul class="list-unstyled resume-lang-list">
                            <li class="mb-1">Spanish <span class="text-muted">(Native)</span></li>
                            <li class="mb-1">English <span class="text-muted">(Advanced)</span></li>
                            <li>French <span class="text-muted">(Intermediate)</span></li>
                        </ul>
                    </section><!--//certificates-section-->


                    <section class="skills-section py-3">
                        <h3 class="text-uppercase resume-section-heading mb-3">Hobbies</h3>
                        <ul class="list-unstyled resume-interests-list mb-0">
                            <li class="mb-1">Music/Guitar</li>
                            <li class="mb-1">Inline Skating</li>
                            <li class="mb-1">Hicking</li>
                            <li>Fantasy Books</li>
                        </ul>
                    </section><!--//certificates-section-->
                            
                </aside><!--//resume-aside-->

            </div><!--//row-->
        </div><!--//resume-body-->

    </article>
    
</div><!--//container-->        