<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="bg-custom-blue text-gray-100 font-poppins">

		<div class="fixed top-0 bottom-0 left-0 right-0 -z-10">

			<canvas class="background absolute top-0 bottom-0 left-0 right-0"></canvas>

		</div>

		<main>
			{{ layoutContent | safe }}
		</main>

		<script src="/js/particle.js"></script>

		{% set js %}
			{% include "assets/js/inline.js" %}
		{% endset %}

		<script>{{ js | jsmin | safe }}</script>

	</body>

</html>
