---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
{% include "sections/nav.njk" %}

<div class="container mt-40 mb-32">

    {{ layoutContent | safe }}

    {% set postslist = collections.post %}
    {% include "sections/postslist.njk" %}

</div>

{% include "sections/footer.njk" %}
