---
layout: layouts/base.njk
section: contact
---
{% include "sections/nav.njk" %}

<section class="container w-full md:max-w-4xl mx-auto py-6 my-40 bg-white prose">

    {{ layoutContent | safe }}

    <div class="md:w-8/12">

    {% include "components/form.njk" %}

    </div>

</section>

{% include "sections/footer.njk" %}
