@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a[target="_blank"] {
    padding-right: .9rem;
    background-image: url('assets/icons/externallink.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: .7rem;
}
